*.o
*.a

bin/souffle_disasm
bin/datalog_decoder
bin/souffle_disasm.*
*.aux
*.log
*.nav
*.out
*.snm
*.toc
doc/*.1.gz

standalone_compilation/
standalone_compilation.tar.bz2

examples/**/dl_files
examples/**/ex.old
examples/**/ex.s
examples/**/ex.stripped
examples/**/ex.unstripped
examples/**/out.txt
examples/**/ex
examples/**/*.gtirb
examples/**/*.so

/gtirb
/gtirb-pprinter
/libehp
wiki/
build/
__pycache__/
